@media screen and (max-width: 320px){
	
/* font-family: "PlayRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PlayRoman"; */
@font-face {
    font-family: "HelveticaRoman";
    src: url("../fonts/HelveticaRoman/HelveticaRoman.eot");
    src: url("../fonts/HelveticaRoman/HelveticaRoman.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRoman/HelveticaRoman.woff") format("woff"),
    url("../fonts/HelveticaRoman/HelveticaRoman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* font-family: "HelveticaItalic"; */
@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"),
    url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
    font-family: "HelveticaHeavy";
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
    font-family: "HelveticaMedium";
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
    font-family: "HelveticaUltraLight";
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
    font-family: "HelveticaLightItalic";
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
    font-family: "HelveticaMediumItalic";
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
    font-family: "HelveticaThinItalic";
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



header a.logo-head {
    float: left;
    height: 68px;
    left: 10px;
    position: absolute;
    top: 29px;
    width: 116px;
}
.header-top ul li.mail span {
    font-family: "HelveticaRegular";
    margin-top: 5px;
    text-shadow: none;
}

.header-top ul li span.no-pad {
    padding-left: 0px;
}

.header-holder {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/bg-header-320.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 320px 376px !important;
    box-shadow: 0 0 8px 5px #9c9b85;
    margin: 0 auto;
    max-width: 320px;
    position: relative;
    z-index: 100;
}

.left-menu {
	display: none;
}

.header-top ul li span {
    color: #f6d463;
    display: inline-block;
    font-family: "HelveticaBold";
    font-size: 14px;
    padding-left: 0px;
    padding-top: 1px;
    text-shadow: 1px 1px 0 #000000;
    width: 120px;
}
.header-top ul li:nth-child(2) {
    display: block;

}
.header-top ul li:nth-child(1) {
    display: block;

}
.header-top ul {
    float: left;
    margin-left: 140px;
    margin-top: 9px;
    width: 180px;
}
.main .content-top {
    margin: 0 auto;
    width: 320px;
}

.wrapper {
    background-color: #faf8d5;
    box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.25);
    margin: -1px 0px 0px 0px;
	padding: 0px;
    width: 320px;
}

.mid-text h2 {
    color: #08275f;
    font-family: "HelveticaBold";
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    width: 320px;
	margin: 0 auto;
	line-height: 25px;
}

nav ul li {
    background: rgba(0, 0, 0, 0) url("../images/nav-bg.png") repeat-x scroll 0 0;
    margin: 0 auto;
    width: 160px;
	/*margin: 0px -4px 0px 0px !important;*/
	font-size: 16px;
}
nav ul {
    width: 320px;
    height: 120px;
	background: none;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e7ce87 0%, #cd9a05 4%, #f6d461 96%, #4e4320 96%) repeat scroll 0 0;
    color: #0a2c65;
    width: 160px;
}


nav ul li a {
    color: #fefefe;
    font-family: "HelveticaRegular";
    font-size: 16px;
    padding: 11px 0;
	height: 18px;
    line-height: 18px;
    width: 160px;
}

nav ul li::after {
    background: rgba(0, 0, 0, 0) url("../images/nav-after.png") no-repeat scroll 0 0;
    clear: both;
    content: "";
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 11px;
    width: 1px;
	z-index: 999;
}

header {
    height: 375px;
	overflow: visible;
}


.header-top ul li input {
    background-color: #50709e;
    border: medium none;
    border-radius: 2px;
    color: #f6d463;
    font-family: "HelveticaRegular";
    font-size: 14px;
    padding: 5px 0 6px 10px;
    width: 85px;
	margin-top: 15px;
}


.content-top h1 {
    color: #08275f;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    margin: 25px 0 0 10px;
    padding-bottom: 5px;
    text-align: center;
    width: 299px;
}



.mid-text h3 {
    color: #1f1f1f;
    font-family: "HelveticaBold";
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin: 25px 0 5px 10px;
    text-align: left;
    text-transform: uppercase;
    width: 290px;
}


.header-top ul li img {
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

nav ul li:last-child a {
    background: rgba(0, 0, 0, 0) url("../images/app-320.png") no-repeat scroll 0 0;
    color: #0a2c65;
    width: 160px;
}

nav ul li:last-child a:hover {
    width: 160px;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e7ce87 0%, #cd9a05 4%, #f6d461 96%, #4e4320 96%) repeat scroll 0 0;
    color: #0a2c65;
}



.content-top ul {
    padding-bottom: 0;
    padding-left: 25px;
}

.content-top ul li {
    box-shadow: 0 1px 2px 2px #d7d5ba;
    display: inline-block;
    margin-right: 23px;
    position: relative;
    width: 270px;
    margin-bottom: 20px;
	margin-top: 20px;
}

.mid-text {
	margin: 0px;
}

.mid-text p, .bottom-content p {
    color: #1f1f1f;
    font-family: "HelveticaLight";
    font-size: 16px;
    line-height: 25px;
    margin: 10px auto 0;
    text-align: justify;
    text-indent: 36px;
    width: 300px;
}

.mid-text ul li p {
    font-family: "HelveticaLight";
    line-height: 20px;
    margin: 0 auto;
    text-indent: 0;
    width: 275px;
}

.mid-text ul {
    width: 275px;
	margin: 0px auto;
}


.content-mid {
    background: none;
}



footer {
    background: rgba(0, 0, 0, 0) url("../images/bg-footer-320.png") no-repeat scroll 0 0;
    height: 232px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.last-contact-fot {
    float: left;
    margin-top: 9px;
	font-size: 14px;
	display: block;
	width: 300px;
	margin-left: 0px;
}



.nav-header ul.fot-contact {
    display: none;
}

ul.fot-contact li:last-child {
    margin-left: 0px;
    margin-right: 0;
}


.top-footer > ul li {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 5px;
}

.top-footer ul li:first-child {
    margin-left: 10px;
}


.top-footer {
    text-align: left;
    width: 600px;
	margin-top: 17px;
}

footer a.logo-fot {
    float: left;
    left: 18px;
    margin: 73px 0px 0px;
    position: absolute;
    width: 90px;
}



.bottom-content-1::after {
    display: none;
}

.bottom-content-top {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: auto !important;
    margin: 0px auto 40px;
    position: relative;
    text-align: justify;
    width: 300px;
}

.bottom-content-top p {
    color: #1f1f1f;
    font-family: "HelveticaLight";
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    max-width: 300px;
    text-indent: 36px;
}
.bottom-content-top p {
    padding-right: 0;
    text-align: justify;
	margin-bottom: 15px;
}
.bottom-content::before {
    display: none;
}
.bottom-content p {
    color: #1f1f1f;
    font-family: "HelveticaLight";
    font-size: 14px;
    line-height: 21px;
    text-indent: 36px;
    width: 320px;
}

.bottom-content {
    height: 490px;
    position: relative;
    display: none;
}


.nav-header {
    float: left;
    overflow: hidden;
    width: 817px;
}


.nav-header ul li a {
    font-size: 16px;
	
}

.nav-header .last-320 a {
    background-color: #fad969;
    border-radius: 4px;
    color: #0a2c65;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    padding: 4px 4px 4px 4px;
    text-align: center;
    text-decoration: none;
    width: 130px;
    float: right;
	margin-right: -3px;
}

.nav-header .last-320 a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e7ce87 0%, #cd9a05 4%, #f6d461 100%, #4e4320 100%) repeat scroll 0 0;
    transition-duration: 0.5s;
}

.last-contact-fot input {
    background: #415d86 none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    font-family: "HelveticaRegular";
    font-size: 12px;
    margin-left: 4px;
    padding: 6px;
    width: 93px;
}

.last-contact-fot form {
    width: 165px;
    float: left;
}

.last-contact-fot ul {
    float: right;
    margin-left: 32px;
    margin-top: 11px;
    max-width: 177px;
}

.nav-header ul li {
    display: inline-block;
    margin-right: 0;
}

.nav-header .last-contact-fot ul li {display: block;}
.nav-header .last-320 {display: block;}
.nav-header ul li {display: none;}

.nav-header ul.bot-320 {
	margin: 0px;
}

.fot-contact {
	display: none;
}


.nav-header ul li a {
    font-size: 14px;
}

.button-up {
	display: none !important;
}

#nav-wrap {
		position: relative;
	}
	

.content-services h1 {
    color: #08275f;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    margin: 0;
    padding: 25px 0 15px;
    text-align: center;
}

	/* Иконка меню */
#menu-icon {
    background: transparent url("../images/menu-icon.png") no-repeat scroll center center;
    cursor: pointer;
    display: block !important;
    height: 30px;
    position: absolute;
    right: 8px;
    top: -30px;
    width: 38px;
}

	
	/* Навигация */
#nav {
    display: none;
    position: absolute;
    right: 0;
    top: 15px;
    width: 320px;
    z-index: 10000;
}
#nav li {
    width: 320px;
}
#nav li:after {
    background: rgba(0, 0, 0, 0) url("../images/border-bot-320.png") no-repeat scroll 0 0;
    clear: both;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 47px;
    width: 320px;
}
	
	#nav li:last-child:after {
	display: none;
	}
	
	#nav a:last-child {
	color: #ffffff;
    font-family: "HelveticaRoman";
    font-size: 15px;
    padding: 16px 0;
	background-color: #003073;
	background-image: none;
    box-shadow: 0 0 13px 7px rgba(0, 35, 84, 0.58) inset;
	}
	
	#nav a, 
	#nav ul li a {
	background-color: #003073;
    box-shadow: 0 0 13px 7px rgba(0, 35, 84, 0.58) inset;
    color: #ffffff;
    font-family: "HelveticaRoman";
    font-size: 15px;
    height: 24px;
    margin: 0 !important;
    padding: 12px 0 !important;
    width: 320px;
	}
	
	#nav a:hover, 
	#nav ul a:hover {
	background-color: #003073;
    box-shadow: 0 0 13px 7px rgba(0, 35, 84, 0.58) inset;
    text-shadow: 0 0 2px #ffffff;
	background: rgba(20,69,133,1);
background: -moz-linear-gradient(top, rgba(20,69,133,1) 5%, rgba(20,69,133,1) 52%, rgba(0,49,116,1) 67%, rgba(0,42,100,1) 73%, rgba(0,30,72,1) 84%);
background: -webkit-gradient(left top, left bottom, color-stop(5%, rgba(20,69,133,1)), color-stop(52%, rgba(20,69,133,1)), color-stop(67%, rgba(0,49,116,1)), color-stop(73%, rgba(0,42,100,1)), color-stop(84%, rgba(0,30,72,1)));
background: -webkit-linear-gradient(top, rgba(20,69,133,1) 5%, rgba(20,69,133,1) 52%, rgba(0,49,116,1) 67%, rgba(0,42,100,1) 73%, rgba(0,30,72,1) 84%);
background: -o-linear-gradient(top, rgba(20,69,133,1) 5%, rgba(20,69,133,1) 52%, rgba(0,49,116,1) 67%, rgba(0,42,100,1) 73%, rgba(0,30,72,1) 84%);
background: -ms-linear-gradient(top, rgba(20,69,133,1) 5%, rgba(20,69,133,1) 52%, rgba(0,49,116,1) 67%, rgba(0,42,100,1) 73%, rgba(0,30,72,1) 84%);
background: linear-gradient(to bottom, rgba(20,69,133,1) 5%, rgba(20,69,133,1) 52%, rgba(0,49,116,1) 67%, rgba(0,42,100,1) 73%, rgba(0,30,72,1) 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144585', endColorstr='#001e48', GradientType=0 );
	}
	
	/* Выпадающий список */
	
.top-footer ul li:first-child {
margin-left: 0px;
}

.top-footer > ul {
    text-align: center;
	width: 327px;
}
	

.content-about {
    background: none;
}

.content-about h1 {
    color: #08275f;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    margin: 0 0 -10px;
    padding: 20px 0 15px;
    text-align: center;
}

.top-obj-text h1, .content-contact h1 {
    color: #08275f;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    width: 295px;
    #height: 35px;
    overflow: hidden;
    margin: 20px auto 15px auto;
}

.object-page .obj-filter label {
    color: #666666;
    display: inline-block;
    font-family: "HelveticaLight";
    font-size: 16px;
    vertical-align: middle;
}

.pagination ul li a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f9f8e6 0%, #f2efca 2%, #ded7a5 92%, #bfb88c 96%, #b1ab82 99%) repeat scroll 0 0;
    color: #0d326d;
    font-family: "HelveticaLight";
    font-size: 16px;
    padding: 15px 20px;
}

.content-about .content-top {
	color: #1f1f1f;
    font-family: "HelveticaLight";
    font-size: 16px;
    line-height: 21px;
    margin: 10px auto 0;
    text-align: justify;
    text-indent: 36px;
    width: 320px;
}

.content-about .content-top p {
    width: 300px;
    margin: 0px auto;
}

.content-about .content-bottom {
	color: #1f1f1f;
    font-family: "HelveticaLight";
    font-size: 16px;
    line-height: 21px;
    margin: 10px auto 0;
    text-align: justify;
    text-indent: 36px;
    width: 300px;
}

.content-services .client {
	display: none;
}

.content-services .client-640 {
	display: block;
}


.content-services .client-640 h3 {
    color: #333333;
    font-family: "HelveticaBold";
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto 10px;
    text-align: left;
    text-transform: uppercase;
    width: 300px;
}


.content-services .client-640 .col-1 {
    color: #333333;
    display: inline-block;
    font-family: "HelveticaLight";
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 10px;
    vertical-align: top;
    width: 300px;
}


.content-services .client-640 .col-2 {
    color: #333333;
    display: inline-block;
    font-family: "HelveticaLight";
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 10px;
    vertical-align: top;
    width: 300px;
}

/*.content-services .col a .col-desc*/
.content-services .col .block .col-desc {
    margin-top: 5px;
}

/*.content-services .col a*/
.content-services .col .block {
    box-shadow: 0 1px 2px 2px #d7d5ba;
    color: #003366;
    display: inline-block;
    font-family: "HelveticaRoman";
    font-size: 16px;
    height: 200px;
    margin: 0 12px 30px 0;
    padding: 10px;
    vertical-align: top;
    width: 280px;
    margin-right: 0;
}
/*.content-services .col a:hover*/
.content-services .col .block:hover {
	box-shadow: -1px 0 5px 3px rgba(0, 0, 0, 0.35);
	font-family: "HelveticaBold";
	font-weight: 100 !important;
    -webkit-transition-duration: 0.8s; 
	-o-transition-duration: 0.8s; 
	-moz-transition-duration: 0.8s; 
	transition-duration: 0.8s;
}


.content-services .col-services-top, .content-services .col-services-bot {
    display: block;
    width: 300px;
    margin: 0px auto;
}


.top-obj-text {
    margin: 20px auto 0px auto !important;
    text-align: justify;
    width: 305px;
    display: block;
}

.top-obj-text ul li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.object-page .obj-filter {
    margin: 0px 0px 0px 8px;
    text-align: left;
}

#inf-li-email img {
    margin-top: 3px;
    margin-left: -19px;
}

/*Slider*/
/*
.pikachoose {
    margin: 0 auto;
    position: relative;
    width: 320px;
}
.jcarousel-skin-pika .jcarousel-clip-horizontal {
    height: 60px;
    width: auto;
}
.jcarousel-skin-pika .jcarousel-item-horizontal {
    margin-right: 8px;
    width: 197px;
}
.pika-stage {
    height: 280px;
    padding: 6px;
    position: relative;
    text-align: center;
}
.pika-thumbs li .clip {
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 93px;
}
.pika-thumbs li {
    cursor: pointer;
    float: left;
    height: 125px;
    list-style-type: none;
    margin: 0 5px 0 6px;
    overflow: hidden;
    padding: 0;
    width: 162px;
}
.pika-stage, .pika-textnav {
    width: 310px;
}
.pika-stage {
    height: 173px;
    padding: 6px;
    position: relative;
    text-align: center;
}
.jcarousel-skin-pika .jcarousel-item-horizontal {
    height: 52px;
    width: 94px;
}
.jcarousel-skin-pika .jcarousel-container-horizontal {
    margin: 0 auto 0 0;
    overflow: hidden;
    padding: 0;
    width: 316px;
}
*/

.object-gallery {
    margin: 0 auto;
    position: relative;
    width: 320px;
}

.thumb-gallery img {
    height: 50px;
    padding: 0px 12px 0px 0px;
    width: 93px;
}

#carousel-thumb{
    width: 304px;
    margin-left: 10px;
}

.slider-for img {
    height: 100%;
    width: 95%;
    padding: 10px 0px 0px 10px;
}

.new-sale {
    background-color: #f63131;
    border: 2px solid #ffffff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
    font-family: "HelveticaBold";
    font-size: 10px;
    left: 9px;
    padding: 3px 4px 2px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

.form-holder-640 form.contact .inp-block img{
	width: 115px;
    height: 35px;
}

.search-footer{
	width: 165px;
    float: left;
}

.last-contact-fot button {
    margin-left: 4px;
}

.last-contact-fot button {
    background: transparent none repeat scroll 0% 0%;
    float: left;
    margin-top: 5px;
    margin-right: -4px;
}

.inf-li-email{
    margin-top: 5px;
    margin-left: 17px;
}

/*END Slider*/


.content-contact ul li p {
    color: #003175;
    float: left;
    font-family: "HelveticaBold";
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 0 10px;
    max-width: 265px;
	padding: 2px 0;
}


.content-contact ul li span {
    color: #1f1f1f;
    display: block;
    float: none;
    font-family: "HelveticaLight";
    font-size: 16px;
    max-width: 104px;
    padding-left: 10px;
	padding-top:5px;
    width: 300px;
	height: 20px;
}

.content-contact ul li:nth-child(2) p {
    margin-left: 10px;
}


.content-contact ul li p.phone {
    clear: left;
    display: block;
    margin-left: 10px;
    margin-top: 0;
}

.content-contact ul li:nth-child(3) p {
    margin-left: 10px;
}

.content-contact ul li:last-child p {
    margin-left: 10px;
}

.content-contact ul li {
    display: block;
    height: auto;
    margin-bottom: 17px;
    overflow: hidden;
    vertical-align: top;
}


.content-obj-page > ul li img {
    float: left;
    height: 95px;
    margin: 5px 7px 0 5px;
    position: relative;
    width: 107px;
}

.content-obj-page > ul li .price-obj {
    float: left;
    margin-left: 8px;
    margin-top: 0;
}


.content-obj-page > ul li .price-obj i {
    color: #003175;
    display: inline-block;
    font-family: "HelveticaLight";
    font-size: 12px;
    font-style: normal;
    margin-left: 45px;
    margin-top: 0;
}

.content-obj-page > ul li img.s {
    height: 35%;
    left: 5px;
    position: absolute;
    top: 20px;
    width: 30%;
    z-index: 100;
}


.content-obj-page > ul li img.p {
    height: 40%;
    left: 10px;
    position: absolute;
    top: 30px;
    width: 25%;
    z-index: 100;
}


.new-sale {
    background-color: #f63131;
    border: 2px solid #ffffff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
    font-family: "HelveticaBold";
    font-size: 10px;
    left: 8px;
    padding: 3px 4px 2px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}


.content-obj-page > ul li h2 {
    color: #1F1F1F;
    font-family: "HelveticaBold";
    font-size: 12px;
    font-weight: 300;
    margin: 8px 0px;
    overflow: hidden;
    #height: 15px;
}

.content-obj-page > ul li {
    box-shadow: 0 0 2px 2px #d7d5ba;
    margin-bottom: 40px;
    margin-left: 3px;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}


.content-obj-page > ul li p {
    color: #1f1f1f;
    display: block;
    float: right;
    font-family: "HelveticaLight";
    font-size: 12px;
    height: 60px;
    line-height: 15px;
    margin: 0 0 12px;
    overflow: hidden;
    padding-right: 10px;
    text-align: justify;
    width: 187px;
}


.content-obj-page > ul li .price-obj h3 {
    color: #f63131;
    font-family: "HelveticaRegular";
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.content-obj-page > ul li a.more {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f9f8e6 0%, #f2efca 2%, #ded7a5 92%, #bfb88c 96%, #b1ab82 99%) repeat scroll 0 0;
    color: #0d326d;
    float: left;
    font-family: "HelveticaLight";
    font-size: 14px;
    margin-left: 5px;
    margin-top: 6px;
    padding: 7px 12px;
}

.content-obj-page > ul li .price-obj h3 i {
    font-family: "HelveticaBold";
    font-size: 14px;
    font-weight: 300;
    margin-left: 5px;
}

.content-contact:after {
	display: none;
}


.content-contact ul {
    margin-bottom: 0px;
    margin-left: 0;
    max-width: 514px;
}

.maps-contact {
    margin: 0 auto 22px;
    max-width: 300px;
}

.form-holder {
	display: none;
}

.form-holder-640 {
    margin-bottom: 25px;
    margin-left: 0;
    width: 100%;
	display: block;
}

.form-holder-640 p.name {
    color: #000000;
    font-family: "HelveticaLight";
    font-size: 16px;
	margin-left: 10px;
}

form.contact .inp-block input, form.contact .right-form textarea {
    border: 1px solid #d7d5ba;
    box-shadow: 0 3px 8px -1px #f3f3f3 inset;
    padding: 9px 5px;
    width: 290px;
	height: 30px;
}


.form-holder-640 form.contact .inp-block textarea {
    border: 1px solid #d7d5ba;
    width: 298px;
	resize: none;
}

.form-holder-640 form.contact .inp-block {
    margin-bottom: 30px;
    margin-left: 10px;
    width: 300px;
}


form.contact .inp-block p {
    color: #525252;
    font-family: "HelveticaLight";
    font-size: 18px;
    margin: 0 0 15px;
}

.form-holder-640 form.contact .inp-block input.captcha {
    display: inline-block;
    float: left;
    margin: 0px 23px 0 0;
    padding: 0;
    width: 155px;
    height: 32px;
}




.form-holder-640 form input.sub {
    background: rgba(0, 0, 0, 0) url("../images/send-320.png") no-repeat scroll 0 0;
    border: medium none;
    color: #003366;
    font-family: "HelveticaRegular";
    font-size: 16px;
    height: 50px;
    margin: 14px 0 20px 10px;
    padding: 0;
    width: 300px;
}

.form-holder-640 form input.sub:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e7ce87 0%, #cd9a05 4%, #f6d461 100%, #4e4320 100%) repeat scroll 0 0;
    border-radius: 3px;
    color: #0a2c65;
	cursor: pointer;
}

.rg-image-wrapper {
    width: 440px;
}

.top-obj-text ul li a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f9f8e6 0%, #f2efca 2%, #ded7a5 92%, #bfb88c 96%, #b1ab82 99%) repeat scroll 0 0;
    color: #0d326d;
    float: none;
    font-family: "HelveticaLight";
    font-size: 16px;
    padding: 7px 5px;
    width: 280px;
}

.top-obj-text {
    margin: 0 auto;
    max-width: 320px;
    margin-left: 10px;
    display: block;
}
.top-obj-text ul {
    padding-top: 6px;
    padding-left: 0px;
}
.top-obj-text ul li {
    display: inline-block;
    margin: 5px 5px 0px 0px;
    text-align: center;
    #float: left;
}

.top-obj-text ul li:nth-child(2) {
    margin-right: 5px;
}

.top-obj-text ul li:last-child {
    margin-right: 5px;
}

.top-obj-text p {
	display: none;
}

.object-gallery .rg-image {
    padding: 8px 8px 90px;
}


.right-desc {
    display: none;
}

.object-gallery #rg-gallery > div.rg-thumbs > div > div.es-carousel > ul > li {
    display: inline-block;
    margin-left: 9px;
    margin-top: 5px;
    opacity: 1;
    width: 131px !important;
}

.crumbs {
    display: none;
}


.obj-content h1 {
    color: #08275f;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.object-gallery {
    box-shadow: 0 0 2px 2px #d7d5ba;
    display: inline-block;
    float: left;
    margin-bottom: 25px;
    margin-left: 0;
    width: 320px;
}

.gallery-desc {
    float: left;
    width: 175px;
    display: block;
    margin-left: 10px;
    margin-top: -10px;
}

.left-desc {
    display: inline-block;
    float: none;
    margin-left: 0;
    width: 175px;
	margin-top: 7px;
	margin-bottom: 15px;
}

.under-desc-gal p {
    color: #1f1f1f;
    font-family: "HelveticaLight";
    font-size: 16px;
    line-height: 22px;
    margin: 0 10px 20px;
    text-align: justify;
}

.left-desc h2, .left-desc h3, .left-desc ul li h3 {
    font-family: "HelveticaBold";
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0 0;
}

.left-desc p.price {
    color: #003175;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 4px;
}

.left-desc .price-block {
    height: 65px;
	width: 300px;
}

.under-desc-gal p.name, .maps p.name {
    color: #525252;
    font-size: 16px;
    margin: 0 0 19px;
}

.left-desc .info-block ul li {
    min-height: 40px;
    padding-bottom: 0;
}


.left-desc .info-block ul li p {
    font-size: 14px !important;
}

.left-desc .info-block {
    display: block;
    font-size: 14px;
    min-height: 230px;
    margin: 0;
}


.left-desc ul li.contact p {
    font-family: "HelveticaLight";
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}

.left-desc ul li:last-child h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.left-desc ul li a {
    color: #003175;
    font-family: "HelveticaRegular";
    font-size: 15px;
    margin-top: 5px !important;
    text-decoration: underline;
}


.left-desc ul li:last-child h3 {
    font-size: 18px;
    margin: 0;
}

.right-desc-640 {
	display: block;
}

.right-desc-640 ul {
    margin-top: 15px;
	margin-bottom: 30px;
}
.right-desc-640 ul li {
    background-color: #fffdd5;
    box-shadow: 0 0 2px 2px #d7d5ba;
    float: none;
    font-size: 12px;
    margin-bottom: 0;
    opacity: 0.3;
    width: 160px;
    margin: 0px auto 15px auto;
}
.right-desc-640 ul li:last-child {
    margin: 0px auto 15px auto;
}

.right-desc-640 ul li:hover, .right-desc-640 ul li.active {
    box-shadow: -1px 0 5px 3px rgba(0, 0, 0, 0.35);
    opacity: 1;
    transition-duration: 0.5s;
}
.right-desc-640 ul li a {
    overflow: hidden;
}
.right-desc-640 ul li a img {
    float: left;
    padding: 5px 5px 0;
}
.right-desc-640 ul li a span {
    color: #08275f;
    font-family: "HelveticaRegular";
    font-size: 10px;
    padding-left: 5px;
}
.right-desc-640 ul li a h5 {
    color: #f63131;
    font-family: "HelveticaLight";
    font-weight: lighter;
    margin: 0 0 2px;
    padding-left: 5px;
}

.right-desc-640 p {
    color: #525252;
    font-family: "HelveticaLight";
    font-size: 16px;
    margin: 0 0 0 10px;
}

.error-page {
    color: #1f1f1f;
    font-family: "HelveticaLight";
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-indent: 0px;
	margin-bottom:20px;
}

.error-page a.button {
    background: rgba(0, 0, 0, 0) url("../images/send-1.png") no-repeat scroll 0 0;
    border-radius: 4px;
    color: #003366;
    font-family: "HelveticaMedium";
    font-size: 16px;
    margin: 0 auto;
    padding: 4px 0px;
    text-align: center;
    text-decoration: none;
    width: 157px;
}

.error-page h1 {
    color: #08275f;
    font-family: "Myriad Pro";
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 30px;
    margin: 33px 0 0 4px;
    padding-bottom: 17px;
    text-align: center;
}

.last-contact-fot ul li span.vib {
    color: #fad969;
    font-size: 12px;
    margin-left: 0;
}

.more-descr {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
}

.pagination .links a {
    display: inline-block;
    color: #0D326D;
    padding: 12px 18px;
    font-family: "HelveticaLight";
    font-size: 22px;
    background: transparent linear-gradient(to bottom, #F9F8E6 0%, #F2EFCA 2%, #DED7A5 92%, #BFB88C 96%, #B1AB82 99%) repeat scroll 0% 0%;
    margin-right: 8px;
	margin-bottom: 8px;
}

.pagination .links b {
    display: inline-block;
    background: transparent linear-gradient(to bottom, #8EA1BD 0%, #3A5A8B 2%, #041946 92%, #02112E 96%, #010A1B 99%) repeat scroll 0% 0%;
    color: #FFF;
    padding: 12px 18px;
    font-family: "HelveticaLight";
    font-size: 22px;
    margin-right: 8px;
	margin-bottom: 8px;
}

.hover{
	opacity: 0.7;
}

.name-under-desc-gal {
    margin: 0px 6px 10px;
    color: #666;
    font-family: "HelveticaLight";
    font-size: 16px;
}

.obj-content .maps {
    margin: 30px 22px 0px auto;
    max-width: 1145px;
    padding-bottom: 25px;
    padding-left: 13px;
}

.full-1200{
	display:none;
}

.mobile-640{
    display: inherit;
}

.go-req{
	display: none;
}

.go-req-640{
	display: block;
}

.empty_object {
    width: 70%;
    margin-left: 47px;
    margin-bottom: 30px;
}

.active_menu_mobile {
	background: transparent url("../images/app-320.png") no-repeat;
}

.active_menu_mobile a{
	color: #0A2C65;
}

#map{
    width:300px; 
    height:322px;
}

.content-contact ul li {
    margin-bottom: 17px;
    overflow: hidden;
    height: auto;
    display: inline-block;
    vertical-align: top;
	max-width: 300px;
}

.car-next {
    background: url("../images/next.png") no-repeat scroll 45% center, rgba(12, 48, 106, 0.5) none repeat scroll 0px 0px;
    cursor: pointer;
    height: 28px;
    margin: 0px 0px 0px 91%;
    #opacity: 0.1;
    right: 7px;
    top: 47.5%;
    width: 28px;
    position: absolute;
}

.car-prev {
    background: url("../images/prev.png") no-repeat scroll 45% center, rgba(12, 48, 106, 0.5) none repeat scroll 0px 0px;
    cursor: pointer;
    height: 28px;
    left: 10px;
    #opacity: 0.1;
    top: 47.5%;
    width: 28px;
    position: absolute;
}

.hover{
	opacity: 0.7;
}


.top-obj-text .list-products li,
.obj-filter {
    margin-right: 0;
}

.top-obj-text .list-products li a {
    padding: 10px;
}

.obj-filter {
    text-align: center;
}

.more-descr {
    overflow: visible;
}

}